{% extends "base.html" %}
{% block content %}

<div>
    <h1>Add Entry</h1>
    <p>Complete the form to add a new entry to the database</p>
</div>

<div class="row">
    <form class="col" method="POST" action="{{ url_for('add_entry') }}">
        <div class="mb-3">
            <label for="trust_reg_num" class="form-label">Registered Charity No.</label>
            <input name="trust_reg_num" id="trust_reg_num"type="text" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="trust_name" class="form-label">Charity Name</label>
            <input name="trust_name" id="trust_name" type="text" minlength="5" maxlength="60" class="form-control" required>
        </div>
        <div class="mb-3">
            <select id="region_id" name="region_id" class="form-select" aria-label="Region select" required>
                <option selected>Open this select menu</option>
                {% for region in regions %}
                <option value="{{ region.id }}">{{ region.region_name }}</option>
                {% endfor %}
              </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Entry</button>
    </form>
</div>


{% endblock %}