body {
    /* to stop footer overlapping content */
    padding-bottom: 66px;

    font-family: "Sen", sans-serif
}

h1 {
    font-size: 2rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

/* --- Navbar --- */

.navbar {
    background-color: #5B9CFB;
}

.navbar a {
    color: white;
}

/* --- Main container --- */

.main {
    padding-top: 6px;
}

.center {
    text-align: center;
}

/* --- Home --- */

.edit, .delete {
    margin: 2px;
}

/* --- Form --- */

input[type="text"], 
input[type="textarea"],
input[type="email"],
select  {
    background-color: #ededeb;
}

form {
    margin: 0 auto;
}

.external-link {
    text-decoration: none;
}

.internal-link {
    text-decoration: none;
    color: white;
}

/* --- Accordian --- */

.accordian_name {
    padding-left: 2rem;
}

.accordian-body {
    background-color: #ededeb;
}

/* --- Browse page --- */

#region-button {
    margin-bottom: .5rem;
    background-color: white;
}

.card {
    background-color: #ededeb;
    margin-bottom: .5rem;
}
/* --- Footer --- */

h4 {
    font-size: 1rem;
    padding-top: 0.5rem;
    text-align: center;
}

.modal-backdrop {
    z-index: 99;
  }

#about-modal-link:hover {
    cursor: pointer;
}

