body {
    /* to stop footer overlapping content */
    padding-bottom: 66px;

    font-family: "Sen", sans-serif
}

h1 {
    font-size: 2rem;
    padding-bottom: .5rem;
}

/* --- Navbar --- */

.navbar {
    background-color: #5B9CFB;
}

.navbar a {
    color: white;
}

/* --- Main container --- */

.main {
    padding-top: 6px;
}

.center {
    text-align: center;
}

/* --- Form --- */

input[type="text"], 
input[type="textarea"],
input[type="email"],
select  {
    background-color: #ededeb;
}

/* --- Accordian --- */

#accordian_name {
    padding-left: 2rem;
}

/* --- Browse page --- */

#region-button {
    margin-bottom: .5rem;
}

/* --- Footer --- */

h4 {
    font-size: 1rem;
    padding-top: 0.5rem;
    text-align: center;
}

.modal-backdrop {
    z-index: 99;
  }
